<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoOneTest.Selectors" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AutoOneTest.Properties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.3545" newVersion="2.2.0.3545" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <AutoOneTest.Selectors>
      <setting name="firstRegistrationDateFromSelector" serializeAs="String">
        <value>[data-qa-selector='filter-year'] span</value>
      </setting>
      <setting name="firstRegistrationDateFromDropdownSelector" serializeAs="String">
        <value>select[name='yearRange.min']</value>
      </setting>
      <setting name="firstRegistrationDateFromDropdownOptionsSelector"
        serializeAs="String">
        <value>select[name='yearRange.min'] option</value>
      </setting>
      <setting name="sortDropdownSelector" serializeAs="String">
        <value>[data-qa-selector='sort-select'] select[data-qa-selector='select']</value>
      </setting>
      <setting name="sortDropdownOptionsSelector" serializeAs="String">
        <value>[data-qa-selector='sort-select'] select[data-qa-selector='select'] option</value>
      </setting>
      <setting name="totalPricesSelector" serializeAs="String">
        <value>div[class^='totalPrice']</value>
      </setting>
      <setting name="firstRegistrationDatesSelector" serializeAs="String">
        <value>[data-qa-selector='spec-list'] li:nth-child(1)</value>
      </setting>
    </AutoOneTest.Selectors>
    <AutoOneTest.Properties>
      <setting name="baseUrl" serializeAs="String">
        <value>https://www.autohero.com/de/search/</value>
      </setting>
    </AutoOneTest.Properties>
  </userSettings>
</configuration>